<?xml version="1.0" encoding="utf-8"?>
<!--Comp 4521-->
<!--Leung Ka Chun       20125844        kcleungam@ust.hk-->
<!--To Wun Yin            20112524        wytoaa@ust.hk-->
<!--Leung Chun Fai      20113619        cfleungac@ust.hk-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hk.ust.cse.comp4521.reminder" >

    <!-- permission groups
        cannot be checked by PackageManager directly
        you may need to use the library for mappings on GitHub to do so -->
    <permission-group android:name="android.permission-group.LOCATION"/>
        <permission android:name="android.permission.ACCESS_FINE_LOCATION"
            android:permissionGroup="android.permission-group.LOCATION"/>
        <permission android:name="android.permission.ACCESS_COARSE_LOCATION"
            android:permissionGroup="android.permission-group.LOCATION"/>

    <permission-group android:name="android.permission-group.PHONE"/>
        <permission android:name="android.permission.READ_PHONE_STATE"
            android:permissionGroup="android.permission-group.PHONE"/>

    <permission-group android:name="android.permission-group.STORAGE"/>
        <permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:permissionGroup="android.permission-group.STORAGE"/>
        <permission android:name="android.permission.READ_EXTERNAL_STORAGE"
            android:permissionGroup="android.permission-group.STORAGE"/>


    <!-- permissions needed user authentication -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- normal permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="23" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".util.GlobalState"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".view.TimeReminderActivity"
            android:label="@string/title_activity_time_reminder"/>

        <activity
            android:name=".view.ViewTimeActivity"
            android:label="@string/title_activity_time_reminder"
            android:exported="true">
        </activity>

        <activity
            android:name=".view.MapsActivity"
            android:label="@string/title_activity_maps" />

        <activity
            android:name=".view.LocationReminderActivity"
            android:label="@string/title_activity_location_reminder" />

        <activity
            android:name=".view.ViewLocationActivity"
            android:label="@string/title_activity_location_reminder"
            android:exported="true">
        </activity>

        <service
            android:name=".service.GeofenceTransitionIntentService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".service.DataUpdateIntentService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver
            android:name=".service.AlarmReceiver"
            android:process=":remote"
            android:enabled="true">
        </receiver>

        <receiver android:name=".service.BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
